@model CharacterLookupMVC.Models.Word

@{
    ViewData["Title"] = "Details";
}

<div>
    @{
        if (Model == null)
        {
            <dl class="row">
                <dt>貌似超纲了，小学字库未找到此字</dt>
            </dl>
        }
        else
        {
            <h4>生字详情</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Character)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Character)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Grade)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.GradeStr)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Semister)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.SemisterStr)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Article)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Article)
                </dd>
            </dl>
        }
    }
</div>
<div>
    <hr />
    @using (Html.BeginForm("Details","Word",FormMethod.Get,new {@class= "form-inline" }))
    {
        <div class="row">
            <div class="col-sm-12">
                <div style="padding-right: 5px; display:inline;">继续查询:</div><input type="text" name="id" class="box-shadow--4dp" placeholder="例" />
                <input type="submit" class="btn-default box-shadow--4dp" value="查询" />
            </div>
        </div>
    }
</div>
<div>
    <hr />
    @*@Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a> |*@
    @{
        if (Model != null)
        {
            @Html.ActionLink("百度汉语", "BaiduLink", new { id = Model.Character }, new { target = "_blank" })  <span> | </span>
        }
    }
    <a asp-controller="Home" asp-action="Index">主页</a>
</div>
